<app-loading *ngIf="loading"></app-loading>

<section *ngIf="!loading">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{character['name']}}</h1>
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
        <nav
          style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
          aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="decorationLink" [routerLink]="['']">Home</a></li>
            <li class="breadcrumb-item"><a class="decorationLink" [routerLink]="['/characters']">Characters</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{character['name']}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
  <hr>

  <div class="row">

    <div class="col-md-4">

      <img class="img-fluid" src="{{character['thumbnail']['path']}}.{{character['thumbnail']['extension']}}">

      <br><br>
    </div>


    <div class="col-md-8">
      <h3 class="textColor">Description</h3>
      <hr>
      <p class="text">
        {{character['description']}}
      </p>
    </div>

    <div class="col-12">
      <h3 class="textColor">Comics where it appears</h3>
      <hr>

      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-12 pb-4 pt-4" *ngFor="let comics of comicsCharacter">

          <div class="card">
            <img class="card-img-top" src="{{comics.thumbnail.path}}.{{comics.thumbnail.extension}}">

            <div class="card-body">
              <h5 class="card-title text-center">{{comics.title}}</h5>
            </div>

            <ul class="list-group list-group-flush">

              <span *ngFor="let creator of comics.creators.items; index as i">
                <li class="list-group-item" *ngIf="creator.role == 'writer'">
                  Writer: {{creator.name}}
                </li>
              </span>

              <li class="list-group-item">Price: {{comics.prices[0].price}}$</li>
            </ul>

            <div class="card text-end p-2">
              <button (click)="viewDetail(comics.id)" type="button" class="btn btn-outline-primary btn-block">
                Detail
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-12">
      <h3 class="textColor">Series where it appears</h3>
      <hr>

      <div class="row">
        <div class="col-md-4 col-lg-3 col-sm-6 col-12 pb-4 pt-4" *ngFor="let serie of seriesCharacter">

          <div class="card">
            <img class="card-img-top" src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}">
            <div class="card-body">
              <h5 class="card-title text-center">{{serie.title}}</h5>
            </div>

            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                Año de inicio: {{serie.startYear}}
              </li>

              <li class="list-group-item">
                Año de finalizacion: {{serie.endYear}}
              </li>

              <li class="list-group-item">
                <span *ngIf="serie.type === ''">
                  Calificacion: No disponible
                </span>
                <span *ngIf="serie.type !== ''">
                  Tipo: {{serie.type}}
                </span>
              </li>

              <li class="list-group-item">
                <span *ngIf="serie.rating === ''">
                  Calificacion: No disponible
                </span>
                <span *ngIf="serie.rating !== ''">
                  Calificacion: {{serie.rating}}
                </span>
              </li>
            </ul>

            <div class="card text-end p-2">
              <button (click)="viewDetail(comics.id)" type="button" class="btn btn-outline-primary btn-block">
                Detail
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</section>
